* {
  margin: 0;
  padding: 0;
}

.management {
  width: 1200px;
  margin: 100px auto;
}
.management .magCon {
  width: 1200px;
  padding: 20px;
}

.management .magCon .add button {
  padding: 10px;
  border: none;
  background-color: #1976d2;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 50px;
}
